.bi-link-path {
  stroke: lightgrey !important;
}

.canvas {
  height: 180rem;
  position: relative;
}

.bi.bi-diagram {
  background: transparent;
  border: none;
  box-shadow: white 0rem 0rem;
}

.toggleRemovedButton {
  position: absolute;
  right: 0;
  z-index: 1000;
}
